<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>INSPINIA{ifset title} | {include title|striptags}{/ifset}</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<link href="https://netdna.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">

	<link href="{$basePath}/css/animate.min.css" rel="stylesheet">
	<link href="{$basePath}/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="{$basePath}/css/landing-page.css" rel="stylesheet">

</head>
<body n:block="body">

	<div class="navbar-wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" n:href="Home:">WEBAPPLAYERS</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="page-scroll" n:href="Home:">Home</a></li>
						<li><a class="page-scroll" href="#features">Features</a></li>
						<li><a class="page-scroll" href="#team">Team</a></li>
						<li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
						<li><a class="page-scroll" href="#pricing">Pricing</a></li>
						<li><a class="page-scroll" href="#contact">Contact</a></li>
						<li><a class="page-scroll" n:href=":Admin:Home:"><i class="fa fa-cog"></i></a></li>
						<li><a class="page-scroll" n:href=":Auth:signOut"><i class="fa fa-power-off"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

{include content}

<!-- Mainly scripts -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="{$basePath}/js/plugins/pace/pace.min.js"></script>
<script src="{$basePath}/js/inspinia.js"></script>
<script src="{$basePath}/js/classie.js"></script>
<script src="{$basePath}/js/cbpAnimatedHeader.js"></script>
<script src="{$basePath}/js/wow.min.js"></script>

</body>
</html>