# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

extensions:
	recaptcha: Minetro\Forms\reCAPTCHA\ReCaptchaExtension
	form: JuniWalk\Form\DI\FormExtension


# Minetro \ reCAPTCHA
recaptcha:
	secretKey: %captcha.secret%
	siteKey: %captcha.site%


# JuniWalk \ Forms
form:
	signUp: App\Forms\ISignUpFormFactory
	signIn: App\Forms\ISignInFormFactory
