# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

extensions:
	webloader: WebLoader\Nette\Extension

services:
	- App\Controls\IAssetsFactory

	# Filters
	cssUrl: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	cssMin: Joseki\Webloader\CssMinFilter
	jsMin: Joseki\Webloader\JsMinFilter


# JanMarek \ WebLoader
webloader:
	cssDefaults:
		remoteFiles:
			- "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin-ext"
		files:
			- %wwwDir%/assets/font-awesome/css/font-awesome.min.css
			- %wwwDir%/assets/bootstrap/dist/css/bootstrap.min.css
			- %wwwDir%/assets/happy/dist/happy.min.css
			- %wwwDir%/assets/animate.css/animate.min.css
		joinFiles: false
		fileFilters: [@cssUrl, @cssMin]
		tempDir: %wwwDir%/static
		tempPath: static

	css:
		frontend:
			files:
				- %wwwDir%/css/landing-page.css

		backend:
			remoteFiles:
				- "https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin-ext"
			files:
				- %wwwDir%/css/style.css


	jsDefaults:
		files:
			- %wwwDir%/assets/pace/pace.min.js
			- %wwwDir%/assets/jquery/dist/jquery.min.js
			- %wwwDir%/assets/jquery-slimscroll/jquery.slimscroll.min.js
			- %wwwDir%/assets/bootstrap/dist/js/bootstrap.min.js
			- %wwwDir%/assets/nette-forms/src/assets/netteForms.js
			- %wwwDir%/assets/nette.ajax.js/nette.ajax.js
			- %wwwDir%/assets/happy/dist/happy.min.js
			- %wwwDir%/assets/metisMenu/dist/metisMenu.min.js
			- %wwwDir%/js/inspinia.js
		joinFiles: false
		fileFilters: [@jsMin]
		tempDir: %wwwDir%/static
		tempPath: static

	js:
		frontend:
			files:
				- %wwwDir%/assets/wow/dist/wow.min.js
				- %wwwDir%/js/cbpAnimatedHeader.js

		backend:
			files: []
