# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

includes:
	- config-params.neon
	- config-assets.neon


php:
	date.timezone: %timezone%

tracy:
	strictMode: FALSE
	showBar: TRUE
	maxDepth: 8
	maxLen: 750

session:
	autoStart: %session.autoStart%
	expiration: %session.lifetime%
	savePath: %tempDir%/sessions

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

mail:
	smtp: TRUE
	host: %smtp.host%
	username: %smtp.username%
	password: %smtp.password%
	secure: %smtp.secure%

services:
	router: App\Services\RouterFactory::createRouter
	authenticator: App\Services\Authenticator
	- JuniWalk\Ubergrid\IGridFactory

	# Doctrine repositories
	- App\Entity\UserRepository

extensions:
	recaptcha: Minetro\Forms\reCAPTCHA\ReCaptchaExtension
	form: JuniWalk\Form\DI\FormExtension
	- App\Services\DI\UuidDoctrineExtension

	# Kdyby components
	translation: Kdyby\Translation\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	#redis: Kdyby\Redis\DI\RedisExtension


# Minetro \ reCAPTCHA
recaptcha:
	secretKey: %captcha.secret%
	siteKey: %captcha.site%

# JuniWalk \ Forms
form:
	- App\Forms\ISignUpFormFactory
	- App\Forms\ISignInFormFactory

# Kdyby \ Translation
translation:
	default: %lang.default%
	whitelist: %lang.allowed%
	dirs: [%appDir%/locale]

# Kdyby \ Redis
#redis:
#	journal: on
#	storage: on
#	session: {database: 1, native: off}

# Kdyby \ Doctrine
doctrine:
	user: %db.user%
	password: %db.password%
	dbname: %db.name%
	driver: %db.driver%
	metadata:
		App: %appDir%/entity
