{layout $appDir.'/@Admin/templates/@layout.latte'}
{block body}
<body class="gray-bg">

	<div class="middle-box text-center animated fadeInDown">

		<div>
			<h1 class="logo-name">JW+</h1>
		</div>

		{include content}

		<p class="m-t"><strong>Martin Procházka</strong> &copy; {date('Y')}</p>

	</div>

	<!-- javascript -->
	{block javascript|indent|trim}{control assets:js backend}{/block}

</body>
{/block}