{layout $appDir.'/@Admin/templates/@layout.latte'}
{block body}
<body class="gray-bg">

	<div class="middle-box text-center animated fadeInDown">

		<div>
			<h1 class="logo-name">JW+</h1>
		</div>

		<div n:snippet="content">

			{include content}

		</div>

		<p class="m-t"><strong>Martin Procházka</strong> &copy; {date('Y')}</p>

	</div>

	<!-- javascript -->
	{control assets:js backend |indent|trim}

</body>
{/block}