{block content}

	<h3 n:block="title">Welcome to IN+</h3>
	<p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.</p>

	{control signInForm:errors}
	{control signInForm}

{/block}