# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

includes:
	- config-params.neon
	- config-assets.neon
	- config-orm.neon


php:
	date.timezone: Europe/Prague

tracy:
	strictMode: %site.debug%
	showBar: true
	maxLength: 300
	maxDepth: 4

di:
	debugger: false

session:
	autoStart: smart
	expiration: 1 month
	savePath: %tempDir%/sessions

application:
	errorPresenter: Error
	scanDirs: no
	mapping:
		*: App\Modules\*Module\*Presenter

routing:
	debugger: true
	cache: true
	routes:
		'<presenter>/<action>[/<id>]': Home:default

mail:
	smtp: TRUE
	host: %smtp.host%
	username: %smtp.username%
	password: %smtp.password%
	secure: %smtp.secure%

decorator:
	App\DataGrids\AbstractGrid:
		setup: [setTranslator]

services:
	authenticator: App\Security\Authenticator
	authorizator: App\Security\Authorizator

	# DataGrids
	- App\DataGrids\Factory\VehicleGridFactory
	- App\DataGrids\Factory\VehiclePartGridFactory

	# Form components
	- App\Forms\Factory\AuthLockscreenFormFactory
	- App\Forms\Factory\AuthPasswordForgotFormFactory
	- App\Forms\Factory\AuthProfileFormFactory
	- App\Forms\Factory\AuthSignInFormFactory
	- App\Forms\Factory\AuthSignUpFormFactory
	- App\Forms\Factory\VehicleFormFactory


extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	translation: Contributte\Translation\DI\TranslationExtension
	form: JuniWalk\Form\DI\FormExtension


# Contributte \ Translation
translation:
	locales:
		whitelist: %lang.allowed%
		default: %lang.default%
	dirs:
		- %appDir%/../locale

# Contributte \ Console
console:
	name: %site.name%
	version: %site.version%
	catchExceptions: false
	autoExit: true
	url: %site.url%
	lazy: true
	helpers:
