<div class="ibox-content" n:snippet="form">

	{form form class => 'm-t text-left'}

		<div class="form-group">
			<div class="input-group">
				<label n:name="email" class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></label>
				<input type="email" n:name="email" class="form-control" placeholder="{_user.auth.email}" autofocus="">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label n:name="password" class="input-group-addon"><i class="fa fa-fw fa-lock"></i></label>
				<input type="password" n:name="password" class="form-control" placeholder="{_user.auth.password}">
			</div>
		</div>
		<div class="form-group">
			<label n:name="remember" class="checkbox">
				<input type="checkbox" class="happy" n:name="remember">
				<strong>{_user.auth.rememberMe}</strong>
			</label>
		</div>

		<button type="submit" n:name="submit" class="btn btn-primary btn-block m-b">{_user.auth.signIn}</button>

	{/form}

	<a href="#"><small>Forgot password?</small></a>
	<p class="text-muted text-center"><small>Do not have an account?</small></p>
	<a class="btn btn-default btn-sm btn-block" href="{plink Auth:signUp}">{_user.auth.signUp}</a>

</div>