{block content}
<section class="container features" style="margin-top: 60px;">

	<h3 n:block="title">This is next page</h3>
	<p>What? Did you expect more? So did we!</p>

	{control ubergrid}

</section>
{/block}